@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC:wght@700&family=Bad+Script&family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@500&family=Playball&family=Special+Elite&display=swap');

*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1 {
  font-size: 4rem;
  font-family: 'Cinzel Decorative', cursive;
  color: blueviolet;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 300;
  text-align: center;
}

.carteras, .propuestas-title  {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Special Elite', cursive;
}

h4{
  font-size: 1rem;
  font-family: 'Cinzel', serif;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 7vh;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
}

.header-list a {
  text-decoration: none;
  color: blueviolet;
}

#planilla {
  width: 95%;
  background-image: url('https://res.cloudinary.com/ds3hh2gv2/image/upload/v1637094306/planilllaMorada.jpg');
  background-position: center;
  height: 600px;
  background-size: cover;
  margin: 0 auto;
}

.box {
  background-color: rgba(255, 255, 255, 0.623);
  text-align: center;
  width: 90%;
  margin: 30px auto 0;
  box-sizing: border-box;
}

#planilla p {
  font-family: 'Allura', cursive;
  font-size: 2rem;
}

#Integrantes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}

.AllIntegrantesCardDiv {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 43vw;
  height: 40vh;
  border-radius: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  box-shadow: 10px 10px 10px rgba(203, 130, 209, 0.753), -10px -10px 10px rgba(238, 160, 247, 0.747);
}

.card > img {
  height: 100%;
  border-radius: 20px;
}

.box-1 {
  width: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.card-suplente {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.suplente-image {
  height: 15vh;
  border-radius: 30px;
}

#Propuestas {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 30px;
}

#Propuestas > ul {
  list-style: none;
}

#Propuestas li {
  padding: 30px;
  margin: 10px 0 10px 0;
  background-color: rgba(150, 237, 100, 0.534);
  border: 1px solid rgb(116, 182, 77);
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .AllIntegrantesCardDiv {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 35vh;
  }
}

@media only screen and (max-width: 740px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3{
    font-size: .9rem;
  }

  /* .card {
    height: 50vh;
  } */

  .card > img {
    height: 100%;
    width: 40%;
    border-radius: 20px;
  }

  #planilla p {
    font-size: 1.5rem;
  }
}

@media (max-width: 740px) and (orientation: landscape) {
  .card {
    height: 70vh;
    width: 90vw;
  }
}

@media (min-width: 741px) and (orientation: landscape) {
  .card {
    height: 70vh;
    width: 90vw;
  }

  .suplente-image {
    height: 25vh;
    border-radius: 10px;
  }
}